# Node dependencies (reinstall with `npm install`)
node_modules/
npm-debug.log*
.idea/

# Runtime log output written by the server
logs/
server.log

# Python bytecode cache from running setup.py
__pycache__/
*.pyc
